html
    head
        title= title
        style
            include pico.min.css
    body
        h1= course.title
        p= course.description
        p= 'Students count: ' + course.students.length
        each lesson in course.lessons
          article
              header= lesson.title
              p= lesson.description
              a(href= '/lessons/' + lesson._id) Перейти
          hr