html
    head
        title= title
        style
            include pico.min.css
    body
        h1= header

        p= lesson.description

        h2= 'Video'
        if hasAccess
            a(href= '/' + lesson.video) Video
        else
            p= 'Login or buy access to see lesson video'

        h3= 'Attachments'
        if hasAccess
            ul
            each attachment in lesson.attachments
                li
                    if attachment.mimetype
                        a(href= '/' + attachment.value)= attachment.value
                    else
                        a(href= attachment.value)= attachment.value
        else
            p= 'Login or buy access to see attachments'


        h4= 'Comments'
        if hasAccess
            ul
            each comment in lesson.comments
                li= comment.text
        else
            p= 'Login or buy access to see comments'